.navigate_main_str {
    background-color: black;
    color: aliceblue;
    font-size: 120%;
    justify-content:space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 50px;
}
.navigate_main_str ul {
    display: flex;
    list-style-type: none;
}
.navigate_main_str li {
    text-align: center;
    margin: 1%;
}
.left {
    max-width: 500px;
    flex: 1;
    margin-left: 2%;
}
.right {
    max-width: 220px;
    max-height: 320px;
    text-align: center;
    margin-right: 15px;
}
.navigate_main_str a {
    color: aliceblue;
}
.biog {
    text-align: center;
    color: aliceblue;
}
.photo {
	padding: 0;
	height: 1px;
    width: 500px;
	border: none;
    text-align: center;
	background: gray;
}
.biginning {
    display: flex;
    margin: 10px auto;
    max-width: 700px;
    background-color: rgb(65, 65, 65);
    color: aliceblue;
    border-radius: 15px;
}
.beg_img {
    max-width: 220px;
    max-height: 320px;
}
.biginning a {
    color: aqua;
}
.links {
    text-align: center;
    padding-top: 2%;
}
.skill {
    background-color: rgb(65, 65, 65);
    padding:15px;
    margin: 20px auto;
    max-width: 1000px;
    border-radius: 15px;
    display: flex;
    justify-content:space-around;
    color: aliceblue;
}
.skills div {
    text-align: center;
}
.for_id {
    height: 0px;
	border: none;
}
.licey {
    text-align: center;
}
.end {
    margin: 20px 0;
	padding: 0;
	height: 1px;
	border: none;
	background: gray;
}
section {
    margin: 10px auto;
}
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(#000000, #434343);
}
h1 {
    font-size: 250%;
    text-align: center;
    margin: 3%;
    color: aliceblue;
}
dl {
    color: aliceblue;
    text-align: center;
}
dd {
    border-width: 25px;
    padding: 2%;
    margin: 10px;
}
dt {
    font-weight: bold;
    font-size: 25px;
}
a {
    text-decoration: none;
    color: aqua;
}
img {
    text-align: center;
}
nav {
    text-align: center;
    display: flex;
}